*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#blog-header{
    display:flex;
    justify-content: space-between;

    padding: 1rem;

    background-color: rgb(2, 0, 117);

    /* color: white; */
}
.header-element{
    padding: 1rem;
}
#blog-header h2{
    /* font-size: 1.5rem; */
    color: white;
    font-family: Ubuntu, sans-serif;
}

#blog-search{

    padding: 5px;
    
    background-color: aliceblue;
    height: max-content;
    border-radius: 2rem;

}


input{
    font-size: 1rem;

    width: 0;
    padding: 0 0.5rem;

    border-style: none;
    outline: none;
    border-bottom: 1px solid silver;

    transition: width 400ms ease-in;
}

input:focus{
    border: 0;
    width: 85%;
    border-bottom: 1px solid black;

}
svg, button{
    border: 0;
    outline: none;
}
.search-submit{
    cursor: pointer;
    padding: 0 2px;
    border-radius: 50%;
}
.search-submit:hover{
    box-shadow: 0 0 3px 5px rgb(204, 208, 243);
}


#blog-body{
    background-color: rgba(2, 0, 117, 0.9);
    padding: 3rem 5rem;
    /* height: 30vh; */
}
@media screen and (min-width: 571px){
    #blog-search{
        margin: 1rem 0;
    }
}
@media screen and (max-width:570px){
    #blog-header{
        flex-direction: column;
        text-align: center;
    }

    #blog-body{
        padding: 1rem 2rem;
    }

    
}